<p id="notice"><%= notice %></p>


<h2>Lista pracowników oddziału: <%= @branch.nazwa %> </h2>

<% @users.each do |u| %>
	<p><%= u %></p>
	<% u.orders.each do |x| %>
		<p><%= link_to x.id, x %></p>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
