<% if current_user.admin? %>

  <div class="container">
    <div class="page-header">
      <h2>Wnioski pracowników </h2>
    </div>
    <div class="row">
      <div class="span9">
        <table class='table'>
          <tbody>
            <% @ord.each do |ord| %>
              <tr>
                <td><%= link_to ord.id, ord %></td>
                <td><%= ord.wnioskujacy %></td>
                <td><%#= ord.user.branch %></td>
                <td><%= ord.sprawdz_status %></td>
                <td><%= ord.updated_at %></td>
                <td><%= ord.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <%= @ord.nowe.count %> wniosków oczekujących na akceptacje koordynatora
      </div>
      <div class="span9">
        <%= @ord.potw.count %> wniosków zaakceptowanych przez koordynatora
      </div>
      <div class="span9">
        <%= @ord.abii.count %> wniosków zaakceptowanych przez ABI
      </div>      
      <div class="span9">
        <%= @ord.dane_osob.count %> wniosków przetwarzających dane osobowe
      </div>
    </div>

  <%= will_paginate @ord %>


<% elsif current_user.kier? %>
  <div class="page-header">
    <h2>Wnioski pracowników Oddziału <%= current_user.branch %></h2>
  </div>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Wnioskujący</th>
          <th>Status</th>
          <th>Utworzony</th>
          <th>Modyfikacja</th>
        </tr>
      </thead>
      <tbody>
      <% @ord.each do |o| %>
        <tr>
          <td><%= link_to o.id, o %></td>
          <td><%= o.wnioskujacy %></td>
          <td><%= o.sprawdz_status %></td>
          <td><%= o.created_at %></td>
          <td><%= o.updated_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate @ord %>

    <div class="row">
      <div class="span9">
        <%= @ord.nowe.count %> wniosków oczekujących na akceptacje koordynatora
      </div>
      <div class="span9">
        <%= @ord.potw.count %> wniosków zaakceptowanych przez koordynatora
      </div>
      <div class="span9">
        <%= @ord.abii.count %> wniosków zaakceptowanych przez ABI
      </div>      
      <div class="span9">
        <%= @ord.dane_osob.count %> wniosków przetwarzających dane osobowe
      </div>
    </div>

<% elsif current_user.kord? %>

  <div class="page-header">
    <h2>Wnioski pracowników Oddziału <%= current_user.branch %></h2>
  </div>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Wnioskujący</th>
          <th>Status</th>
          <th>Utworzony</th>
          <th>Modyfikacja</th>
        </tr>
      </thead>
      <tbody>
      <% @ord.each do |o| %>
        <tr>
          <td><%= link_to o.id, o %></td>
          <td><%= o.wnioskujacy %></td>
          <td><%= o.sprawdz_status %></td>
          <td><%= o.created_at %></td>
          <td><%= o.updated_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate @ord %>


    <div class="row">
      <div class="span9">
        <%= @ord.nowe.count %> wniosków oczekujących na akceptacje koordynatora
      </div>
      <div class="span9">
        <%= @ord.potw.count %> wniosków zaakceptowanych przez koordynatora
      </div>
      <div class="span9">
        <%= @ord.abii.count %> wniosków zaakceptowanych przez ABI
      </div>      
      <div class="span9">
        <%= @ord.dane_osob.count %> wniosków przetwarzających dane osobowe
      </div>
    </div>
    
  <% elsif current_user.abi? %>
      <div class="page-header">
          <h2>Wnioski pracowników Oddziału <%= current_user.branch %></h2>
        </div>
          <table class='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Wnioskujący</th>
                <th>Status</th>
                <th>Utworzony</th>
                <th>Modyfikacja</th>
              </tr>
            </thead>
            <tbody>
            <% @ord.each do |o| %>
              <tr>
                <td><%= link_to o.id, o %></td>
                <td><%= o.wnioskujacy %></td>
                <td><%= o.sprawdz_status %></td>
                <td><%= o.created_at %></td>
                <td><%= o.updated_at %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

          <%= will_paginate @ord %>

      <div class="row">
        <div class="span9">
          <%= @ord.nowe.count %> wniosków oczekujących na akceptacje koordynatora
        </div>
        <div class="span9">
          <%= @ord.potw.count %> wniosków zaakceptowanych przez koordynatora
        </div>
        <div class="span9">
          <%= @ord.abii.count %> wniosków zaakceptowanych przez ABI
        </div>      
        <div class="span9">
         <%= @ord.dane_osob.count %> wniosków przetwarzających dane osobowe
        </div>
      </div>


<% end %>

<div class="page-header">
  <h2>Twoje wnioski</h2>
</div>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Wnioskujący</th>
      <th>Status</th>
      <th>Utworzony</th>
      <th>Modyfikacja</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |o| %>
    <tr>
      <td><%= link_to o.id, o %></td>
      <td><%= o.wnioskujacy %></td>
      <td><%= o.status %></td>
      <td><%= o.created_at %></td>
      <td><%= o.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<br>
