<div class="well">
<h2>Wniosek nr: <%= @order.id %></h2>
<table class="table">
	<tr>
		<th>Wnioskujący:</th>
		<td><%= @order.wnioskujacy %></td>
	</tr>
	
	<tr>
		<th>Nowy pracownik?</th>
		<td><%= link_to "Dodaj pracownika", '#' %></td>
	</tr>
	<tr>
		<th>Status:</th>
		<td><%= @order.status %></td>
	</tr>
	<% unless @order.kordkom.nil? %>
		<tr>
			<th>Komentarz:</th>
			<td><%= @order.kordkom %></td>
		</tr>
	<% end %>
	<tr>
		<th>Ilość ról:</th>
		<td><%= @order.order_items.count %></td>
	</tr>



	<tr>
		<th>Numer roli</th>
		<th>Nazwa</th>
		<th>Opis</th>
		<th>Dane osobowe</th>
		<th></th>
	</tr>
	<% @order.order_items.each do |item| %>
		<tr>	
			<td><%= item.product.nr_roli %></td>
			<td><%= item.product.nazwa %></td>
			<td><%= item.product.opis %></td>
			<td><%= item.product.do %></td>
			<td><%= link_to 'Usun role z wniosku', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<% unless @order.contributors.blank? %>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Uprawnienia dla:</th>
	      <th>Oddział</th>
	    </tr>
	  </thead>
	  

	  <tbody>
	    <% @order.contributors.each do |cont| %>
	      <tr>
	        <td><%= cont %></td>
	        <td><%= cont.branch unless cont.branch.blank? %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<% end %>

<% @branche = current_user.branch %>
<% @users = @branche.users %>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Uprawnienia dla:</th>
	      <th>Ilość wniosków</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @users.each do |worker| %>
	      <tr>
	        <td><%= worker %></td>
	        <td><%= worker.orders.count %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>



<%= link_to "Usuń wniosek", @order, data: { confirm: 'Usunąć wniosek?' }, method: :delete %>

<% if current_user.kier? %>
	<%= link_to 'Dodaj pracownika do wniosku', edit_order_path(@order) %>
	<%= link_to 'Zatwierdz do realizacji', zatwierdz_order_path, method: :patch %>
<% elsif current_user.kord? %>
 	<%= link_to 'Potwierdz', potwierdz_order_path, method: :patch %>

 	<%= render partial: "popraw" %>

<% elsif current_user.abi? %>
	<%= link_to 'Akceptuje', zatwierdz_order_path, method: :patch %>
<% end %>

<%= link_to 'Back', orders_path %>

</div>