<h1>Twój wniosek</h1>

<table class="table">
	<tr>
		<th>ID:</th>
		<td><%= @order.id %></td>
	</tr>
	<tr>
		<th>Wnioskujący:</th>
		<td><%= @order.user %></td>
	</tr>
	
	<tr>
		<th>Nowy pracownik?</th>
		<td><%= link_to "Dodaj pracownika", '#' %></td>
	</tr>
	<tr>
		<th>Status:</th>
		<td><%= @order.status %></td>
	</tr>
	<tr>
		<th>Ilość ról:</th>
		<td><%= @order.order_items.count %></td>
	</tr>

	<tr>
		<th>Numer roli</th>
		<th>Nazwa</th>
		<th>Opis</th>
	</tr>
	<% @order.order_items.each do |item| %>
		<tr>	
			<td><%= item.product.nr_roli %></td>
			<td><%= item.product.nazwa %></td>
			<td><%= item.product.opis %></td>
			<td><%= link_to 'Usun role z wniosku', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<% unless @order.contributors.blank? %>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Uprawnienia dla:</th>
	      <th>Oddział</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @order.contributors.each do |worker| %>
	      <tr>
	        <td><%= worker %></td>
	        <td><%= worker.branch unless worker.branch.blank? %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<% end %>

<% @branche = current_user.branch %>
<% @users = @branche.users %>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Uprawnienia dla:</th>
	      <th>Ilość wniosków</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @users.each do |worker| %>
	      <tr>
	        <td><%= worker %></td>
	        <td><%= worker.orders.count %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>



<%= link_to "Usuń wniosek", @order, data: { confirm: 'Are you sure?' }, method: :delete %>
<%= link_to 'Dodaj pracownika do wniosku', edit_order_path(@order) %>
<%= link_to 'Zatwierdz do realizacji', zatwierdz_order_path, method: :patch %> |
<%= link_to 'Back', orders_path %>