<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @order_item.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<h2>Obszar widzenia:</h2>



<%#= render "areas/form" %>

<!-- <h2>Dodaj obszar widzenia:</h2> -->
	
 -->

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_path(@order_item.order) %>
